numpy
Pillow
huggingface_hub
einops
safetensors
mmengine
transformers
trimesh
accelerate
imageio
tqdm
scipy
opencv-python
wandb
diffusers
evo
joblib
decord
iopath
tensorboard
gradio==5.17.1
viser==0.2.23
hydra-core
omegaconf
scipy
requests
trimesh
onnxruntime
matplotlib
pydantic==2.10.6